beautifulsoup4==4.12.3
bson==0.5.10
datetime==5.5
environs==11.0.0
fuzzywuzzy==0.18.0
geojson==3.1.0
geopandas==1.0.0
ipykernel==6.29.4
lxml_html_clean==0.1.1
matplotlib==3.9.0
mistralai==0.4.1
newsapi-python==0.2.7
newspaper3k==0.2.8
numpy==2.0.0
pandas==2.2.2
plotly==5.22.0
pydtm==0.0.9
pymupdf4llm==0.0.6
PyPDF2==3.0.1
requests==2.32.3
requests_cache==1.2.1
setuptools==70.1.1
streamlit==1.36.0
unicode==2.9